@font-face {
font-family: quicksand-light;
src: url('../fonts/Quicksand-Light.otf')
}


body {
  background-color: #071871;
  font-family: "quicksand-light";
  font-size: 56px;
  color: #FFF;

  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;

}

.h1like {
  font-size: 56px;
  letter-spacing: 5px;
}

.h2like {
  font-size: 42px;
  letter-spacing: 5px;
}

.h3like {
  font-size: 36px;
}

.h4like {
  font-size: 30px;
}

.clock {
  text-align: center;
}


/*
  Radial Numbers
*/

.circle {
  border-radius: 50%;
  border: 1px solid #FFF;
  width:1em;
  height:1em;
  margin: .1em .1em .1em .1em;
}


.numbers-font {
  font-size: .6em;
  position:relative;
  bottom:21px;
  left: 3px;
}

.numbers-font-four {
  font-size: .6em;
  position:relative;
  bottom:21px;
  left: 0px;
}

.numbers-font-one {
  font-size: .6em;
  position:relative;
  bottom:21px;
  left: 6px;
}


body { background-color: #C30; 
text-align: center; 
animation-name: homeCycle; 
animation-duration:60s; 
animation-direction:alternate; 
animation-iteration-count:infinite; 

-webkit-animation-name: homeCycle; 
-webkit-animation-duration:60s; 
-webkit-animation-direction:alternate; 
-webkit-animation-iteration-count:infinite; } 

@keyframes homeCycle 
{
0% {background-color:#006;} 
25% {background-color:#060;} 
50% {background-color:#CC3200;} 
75% {background-color:#603;} 
} 

@-webkit-keyframes homeCycle 
{ 
0% {background-color:#006;} 
25% {background-color:#060;} 
50% {background-color:#CC3200;} 
75% {background-color:#603;} 
}

